.todo-list{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.todo-item{
  box-shadow: 0 6px 20px -10px black;
  height: 150px;
  text-align: center;
  width: 300px;
}

.urgent{
  box-shadow: 0 6px  20px -10px red;
}

.delete{
  background-color: red;
}

.todo-form{
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 0 auto;
  margin-bottom: 50px;
}
const rickAPI = "URL"

fetch(rickAPI)
.then((response) => response.json())
.then( (response) => {return response.json() } )
.then(function parseJSON(response){return response.json()})
.then(response => parseJSON(response))
.then(parseJSON)

function parseJSON(response){
  return response.json();
}